<form [formGroup]="dynamicForm" novalidate>
  <div   style="display:flex;flex-wrap:wrap">
    <template let-element ngFor [ngForOf]="elements" >
      <div [ngSwitch]="element.type" [ngClass]="element?.className">
        <template [ngSwitchCase]="'group'">
          <td-dynamic-element [formGroupName]="element.name"  [config]="element" [dynamicControl]="dynamicForm.controls[element.name]">
          </td-dynamic-element>
        </template>
        <template [ngSwitchCase]="'array'">
          <td-dynamic-element [formArrayName]="element.name"  [config]="element" [dynamicControl]="dynamicForm.controls[element.name]">
          </td-dynamic-element>
        </template>
        <template ngSwitchDefault>
          <td-dynamic-element [formControlName]="element.name" [config]="element" [dynamicControl]="dynamicForm.controls[element.name]">
          </td-dynamic-element>
        </template>
      </div>
    </template>
  </div>
  <button type="button"
(click)="submit()"
  >
  submit
  </button>
  <ng-content></ng-content>
</form>