<div [formGroup]="control" [ngClass]="config?.className" >
  <div *ngFor="let element of control.controls;let i = index" [ngClass]="удуьуте?.className" >
    <div [ngSwitch]="config.meta.elementsType.type"  >
 <button type="button"  (click)="popElementAt(i)" class="close" aria-label="Close" stlye="position:absolute;right:0;">
  <span aria-hidden="true">&times;</span>
</button>
      <template [ngSwitchCase]="'array'">
        <td-dynamic-element [formArrayName]="i" [dynamicControl]="control.controls[i]" [config]="config.meta.elementsType">
        </td-dynamic-element>
      </template>
      <template [ngSwitchCase]="'group'">
        <td-dynamic-element [formGroupName]="i" [dynamicControl]="control.controls[i]" [config]="config.meta.elementsType">
        </td-dynamic-element>
      </template>
      <template ngSwitchDefault>
        <td-dynamic-element [formControlName]="i" [dynamicControl]="control.controls[i]" [config]="config.meta.elementsType">
        </td-dynamic-element>
      </template>
    </div>

  </div>
  <div class="col-md-12">
    <button type="button" (click)="pushElement(config.meta.elementsType)">
    push element
  </button>
  </div>
</div>