<div class="dynamic-input-wrapper">
{{ config.label }}
</div>
<div [formGroup]="control" [ngClass]="config?.className" >
    <template let-element ngFor [ngForOf]="config.meta.propertiesType">
      <div [ngSwitch]="element.type"  [ngClass]="element?.className">
        <template [ngSwitchCase]="'group'">
          <td-dynamic-element [formGroupName]="element.name" [config]="element" [dynamicControl]="control.controls[element.name]">
          </td-dynamic-element>
        </template>
        <template [ngSwitchCase]="'array'">
          <td-dynamic-element [formArrayName]="element.name" [config]="element" [dynamicControl]="control.controls[element.name]">
          </td-dynamic-element>
        </template>
        <template ngSwitchDefault >
          <td-dynamic-element [formControlName]="element.name" [config]="element" [dynamicControl]="control.controls[element.name]">
          </td-dynamic-element>
        </template>
      </div>
    </template>
  <ng-content></ng-content>
</div>
    